/* ==========================================================
   REGMAP AI ENTERPRISE
   KPI GRID
========================================================== */

.kpi-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:24px;

    width:100%;

    margin-bottom:10px;

}

/* ============================================== */

@media(max-width:1400px){

.kpi-grid{

grid-template-columns:repeat(2,1fr);

}

}

/* ============================================== */

@media(max-width:768px){

.kpi-grid{

grid-template-columns:1fr;

gap:18px;

}

}